<md-toolbar color="primary">

    <button type="button" md-button (click)="sidenav.toggle()">
        Menu
      </button>

  <span>{{title}}</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
</md-toolbar>


<md-sidenav-container>
    <md-sidenav #sidenav  class="sidenav col-12 col-xs-8 col-sm-6 col-md-4 col-lg-3" mode="over">
          <md-nav-list>
              <a md-list-item routerLink="/user" routerLinkActive="active">User</a>
              <a md-list-item routerLink="/albums/cupamag" routerLinkActive="active">Cup a</a>
              <a md-list-item routerLink="/albums/cupcmagazine" routerLinkActive="active">Cup c</a>
              <a md-list-item routerLink="/albums/cupemag" routerLinkActive="active">Cup e</a>
              <a md-list-item routerLink="/albums/HerScentMag" routerLinkActive="active">Her Scent Mag</a>
              <a md-list-item routerLink="/albums/aboutgmag69" routerLinkActive="active">About G Mag</a>
              <a md-list-item routerLink="/albums/Angels.mag2" routerLinkActive="active">Sexy angel</a>
              <a md-list-item routerLink="/albums/tucutegirl" routerLinkActive="active">Tu Cute girl</a>
           </md-nav-list>
    </md-sidenav>

    <div class="my-content">

        <router-outlet></router-outlet>

    </div>
  </md-sidenav-container>

